<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Foob!</title>
</head>
<body>
  <p>To the right you should see the Flask Debug Toolbar</p>
  <p>You can use it to explore HTTP and Environment settings</p>
</body>
</html>
