<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Foob!</title>
</head>
<body>
  <table>
    <tr><th>Item</th><th>Value</th></tr>
    <tr><td>Env</td><td>{{ env }}</td></tr>
  </table>
</body>
</html>
